<div class="visible" data-toggle="modal" data-target="#modal-{{from}}">
<math xmlns="http://www.w3.org/1998/Math/MathML">
<mrow>
  <mstyle displaystyle="true">
    <munderover>
      <mo>&sum;</mo>
      <mrow>
        <mi>i</mi>
        <mo>=</mo>
        <mn>1</mn>
      </mrow>
      <mrow>
        <mo>|</mo>
        <mi>E</mi>
        <mo>|</mo>
      </mrow>
    </munderover>
  </mstyle>
  <mrow>
    <mo rspace="0.3em" lspace="0em" stretchy="true" fence="true" form="prefix">(</mo>
    <mo>|</mo>
    <mi>E</mi>
    <mo>|</mo>
    <mo>-</mo>
    <mi>i</mi>
    <mo rspace="0em" lspace="0.3em" stretchy="true" fence="true" form="postfix">)</mo>
  </mrow>
  <mo>=</mo>
  <mfrac linethickness="1">
    <mn>1</mn>
    <mn>2</mn>
  </mfrac>
  <mrow>
    <mo rspace="0.3em" lspace="0em" stretchy="true" fence="true" form="prefix">(</mo>
    <mo>|</mo>
    <mi>E</mi>
    <mo>|</mo>
    <mo>-</mo>
    <mn>1</mn>
    <mo rspace="0em" lspace="0.3em" stretchy="true" fence="true" form="postfix">)</mo>
  </mrow>
  <mo>|</mo>
  <mi>E</mi>
  <mo>|</mo>
</mrow>
</math>
</div>