@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Source+Code+Pro:200,300,400);

body {
  font-family: "Source Sans Pro";
  font-weight: 300;
  line-height: 1.5;
  width: 500px;
	margin: 3em;
	text-align: justify;
}

.code {
  font-family: "Source Code Pro";
	text-align: left;
}

.invisible {
	display: none;
}

.semi-visible {
	text-align: left;
	height: 0;
	color: #c0c0c0;
	text-decoration: overline;
	margin-left: 520px;
	width: 130px;
	font-variant: small-caps;
}

.new-element {
	display: inline;
	margin-left: 475px;
	position: absolute;
}

.annotation-hover {
	outline: 2px solid #eaeaea;
	outline-offset: 12px;
}

.math-hover {
	background-color: rgba(148,55,255,0.25);
    outline: 2px solid #9437ff;
}

.chem-hover {
	background-color: rgba(0,252,255,0.25);
    outline: 2px solid #00fcff;
}

.Section-hover {
	background-color: rgba(0,250,146,0.25);
    outline: 2px solid rgba(0,250,146,1);
}

.SubSection-hover {
	background-color: rgba(0,186,110,0.25);
    outline: 2px solid rgba(0,186,110,1);
}

.SubSubSection-hover {
	background-color: rgba(0,117,66,0.25);
    outline: 2px solid rgba(0,117,66,1);
}