@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Source+Code+Pro:200,300,400);

body {
  font-family: "Source Sans Pro";
  font-weight: 300;
  line-height: 1.5;
  width: 500px;
	margin: 3em;
	text-align: justify;
}

.code {
  font-family: "Source Code Pro";
}

.invisible {
	display: none;
}

.new-element {
	display: inline;
	margin-left: 475px;
	position: absolute;
}

.annotation-hover {
	outline: 2px solid #eaeaea;
	outline-offset: 12px;
}

.math-hover {
	background-color: rgba(148,55,255,0.25);
    outline: 2px solid #9437ff;
}

.val-hover {
	background-color: #00fa92;
    border-radius: 10px 5px / 5px 10px;
}

.chem-hover {
	background-color: #00fcff;
    border-radius: 10px 5px / 5px 10px;
}