- import quickstart.action._

!!! 5
html
  head
    != antiCsrfMeta

    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    title Welcome to scaltex

    link(type="image/vnd.microsoft.icon" rel="shortcut icon" href={publicUrl("favicon.ico")})

    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/960/reset.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/960/text.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/960/960.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("css/app.css")})

    script(src={publicUrl("js/main.js")})

  body
    .container_12
      h1
        a(href={url[SiteIndex]}) Welcome to scaltex!

      != renderedView

      hr

      p
        | Your IP: {remoteIp}
      p
        | Websocket: {webSocketAbsUrl[EchoWebSocketActor]}
      p#response

    != jsDefaults
    != jsForView
