- import quickstart.action._
- import quickstart.EchoWebSocketActor

!!! 5
html
  head
    != antiCsrfMeta

    meta(content="text/html; charset=utf-8" http-equiv="content-type")
    title Welcome to scaltex

    link(type="image/vnd.microsoft.icon" rel="shortcut icon" href={publicUrl("favicon.ico")})

    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("lib/960-grid-system/code/css/reset.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("lib/960-grid-system/code/css/text.css")})
    link(type="text/css" rel="stylesheet" media="all" href={publicUrl("lib/960-grid-system/code/css/960.css")})

    script(data-main="scripts/main" src={publicUrl("lib/requirejs/require.js")})

    :!javascript
      define('config', function() {
        return {
          webSocketAbsUrl: "#{webSocketAbsUrl[EchoWebSocketActor]}",
          remoteIp: "#{remoteIp}"
        };
      });

  body
    .container_12
      h1
        a(href={url[SiteIndex]}) Welcome to scaltex!

      != renderedView
