#entity1
#entity2
#entity3
#entity4

hr

form(name="myform" action="" method="GET")
  input(type="text" name="inputbox" id="inputbx" value="")
  input(type="button" name="button" id="click" value="Click")

:css
  #editor { 
      position: relative;
      height: 240px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  }

#editor
